<h2>All Shelters</h2>

<div id="all-shelters">
  <% @shelters.each do |shelter| %>
  <div id="shelter-<%= shelter.id %>">
    <h4><%= link_to "#{shelter.name}", "shelters/#{shelter.id}" %></h4>
  </div>
  <% end %>
</div>

<div id="pending-shelters">
  <h2>Shelters With Pending Applications</h2>
  <% @pending.each do |shelter| %>
  <h3><%= link_to "#{shelter.name}", "shelters/#{shelter.id}" %></h3>
  <% end %>
</div>