body { background: asset-url('rug.jpg');
       background: asset-url('bear.jpg');
       background: asset-url('josh.jpg');
       background: asset-url('tofu.jpg');
       background: asset-url('cola.jpg');
       background: asset-url('picnic.jpg');
       background-size: contain;
       background-color: #cccccc;
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-position: center;
       overflow: auto; 
       padding-top: 20px;
       padding-left: 25px;
       padding-bottom: 25px;
}

main {
  flex: 1;
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 25px;
}

