<h1>Adopt, Don't Shop!</h1>

<p> Because ADOPTED is the best breed! Select a link above to view, search, and apply to adopt a pet.


  To help our new pet parents, information on local veterinary offices and doctors is also provided on our site. </p>